@charset "utf-8";
/*定义全局样式*/
body{min-width:1100px; background-color:#8CB75B;}
body,p,div,input,select,textarea,ul,li,a{color:#333; font-size:14px;font-family:"宋体",Arial,Verdana; padding:0; margin:0;}
a:link,a:visited,a:active{color:#333333; text-decoration:none;font-size:14px;}
a:hover{text-decoration:underline;color:#669900; font-size:14px;}
hr{color:#DEF7AD; width:95%;}
ul{list-style:none; text-align:center;}
li{border-bottom:#83b712 dotted 1px; color:#0000FF; }
/*结束定义全局样式*/
/*定义头部样式 */
.header{height:120px;background:#FFFFFF;}
.header .headercontent{width:985px; margin:0 auto;}
.header .logo{height:55px; width:285px;overflow:hidden; padding:24px 0 2px 15px; margin-bottom:17px; float:left}

.searchbox{width:483px;height:60px; margin-left:448px; padding-top:10px;position:relative;} /*定义搜索块样式*/
.search_form{position:relative; height:31px; margin:20px;display:inline-block;}   /*定义搜索表单样式*/
.search_form:hover{-webkit-box-shadow:0 0 3px #999;-moz-box-shadow:0 0 3px #999}  
.sinput{float:left; width:300px; height:21px; line-height:21px; padding:4px 7px; color:#b3b3b3;   
				border:1px solid #73A621; border-radius:2px 0 0 2px; background-color:#fbfbfb; } /* 定义输入框样式*/
/* 定义搜索按钮样式*/	

.sbtn {float:left; width:60px; height:31px; padding:0 12px; margin-left:-1px;
border-radius:0 2px 2px 0; border:1px solid #4084f2; background-color:#73A621; cursor:pointer;
display:inline-block; font-size:16px; vertical-align:middle; color:#f3f7fc;position:absolute;
}
.sbtn:hover{background: #4d90fe;}
.header .hotkeywords{margin-left:486px; padding:6px 0 0 0; color:#6f6f6f; height:15px; overflow:hidden; line-height:15px; width:495px;}
.header .hotkeywords a:link,.header .hotkeywords a:visited,.header .hotkeywords a:active{color:#6f6f6f;}
.header .hotkeywords a:hover{color:#669900;}
/*结束定义头部样式 */
/*定义主体内容样式 */
.main{width:1000px; height:1000px;margin:0 auto; background-color:#FFFFFF;background:#fff url(../images/mainbj.jpg); background-repeat:repeat-x; padding-top:30px;}
/*定义左侧导航样式*/
.mainleft{width:150px; height:1000px;background-color:#8CB75B; float:left;}
.mainleft .menu{ width:150px; height:400px;background-color:#FFFFFF;
				position:fixed; top:160px;/*固定定位，始终显示该块*/
				}
.mainleft ul{border-bottom:#CCFF99 dotted 1px;/*定义列表底部边缘样式*/
				margin-top:5px; margin-left:10px; /*定义上左外补白*/
				padding-top:5px; /*定义顶部内补白*/}					
.mainleft ul li{height:30px;line-height:30px;}
.mainleft ul li:hover{ color:#FFFFFF; background:url(../images/hover.png);}/*鼠标停留时效果*/
.mainleft a:hover{color:#FFFFFF;}
/*结束定义左侧导航样式*/
/*结束定义主要内容样式*/
.content{width:850px; height:1000px; text-align:center;background:#F7F3F7; float:left;  /* 左浮动*/}
.category{
	      width:400px;height:300px;/*定义宽高*/
		  font-size:36px; margin-top:10px; margin-left:10px;  /*定义外补白*/
		  position:relative; float:left;  /* 左浮动*/
}
.category:hover{ border:#83b712 1px solid; /*定义边框*/margin-top:8px; margin-left:8px;  /*定义外补白*/}			
/*结束定义主体内容样式 */

/*定义脚注样式 */
.footer{ background:#fff url(../images/v5_repeat_x.png) repeat-x 0 -206px; padding:30px 0 0 0; clear:both;text-align:center;}
.footerBox{width:970px; margin:0 auto;color:#999999; }
.footer .footerbot{height:41px; margin-top:10px;}

