@charset "utf-8";
/*定义全局样式*/
body{background:url(../images/body_bg.png) repeat-y center 0px; min-width:970px;}
body,p,div,input,select,textarea,ul,li,a{color:#333; font-size:14px;font-family:"宋体",Arial,Verdana; padding:0; margin:0;}
a:link,a:visited,a:active{color:#333333; text-decoration:none;font-size:14px;}
a:hover{text-decoration:underline;color:#669900; font-size:14px;}
hr{color:#DEF7AD; width:95%;}
ul{list-style:none;}
img{ border:0px; /*取消图片边框显示*/}
/*结束定义全局样式*/
/*定义头部样式 */
.header{height:120px;background:#fff;}
.header .headercontent{width:985px; margin:0 auto;}
.header .logo{height:55px; width:285px;overflow:hidden; /*高度、宽度和溢出方式*/
			 padding:24px 0 2px 15px; margin-bottom:17px; float:left /*内补白和外补白*/
			 }


.searchbox{width:483px;height:60px;
		  margin-left:448px; padding-top:10px;position:relative;} /*定义搜索块宽高和位置*/
.search_form{height:31px; position:relative;margin:20px;/*定义搜索表单样式*/
			display:inline-block; /*指定为内联块元素*/}   
.search_form:hover{-webkit-box-shadow:0 0 3px #999;-moz-box-shadow:0 0 3px #999}  
.sinput{width:300px; height:21px;color:#b3b3b3; line-height:21px; 		/* 定义输入框样式*/
		border:1px solid #73A621; border-radius:2px 0 0 2px; background-color:#fbfbfb; 
		padding:4px 7px; float:left;   
	   } 
 /* 定义搜索按钮样式*/	
.sbtn{width:60px; height:31px;font-size:16px; vertical-align:middle; color:#f3f7fc;  
	  border-radius:0 2px 2px 0; border:1px solid #4084f2; background-color:#73A621; cursor:pointer;   
	  display:inline-block;float:left;padding:0 12px; margin-left:-1px;  position:absolute;}  
.sbtn:hover{background: #4d90fe;}

.header .hotkeywords{color:#6f6f6f; height:15px; width:495px;line-height:15px; 
					overflow:hidden;margin-left:486px; padding:6px 0 0 0;}
.header .hotkeywords a:link,.header .hotkeywords a:visited,.header .hotkeywords a:active{color:#6f6f6f;}
.header .hotkeywords a:hover{color:#669900;}
/*结束定义头部样式 */
/*定义主体内容样式 */
.wrapper{max-width:1080px; min-width:1010px;background:url(../images/maintop_bg.png) no-repeat center 0; 
			clear:both; margin:0 auto; padding-top:4px;}
.wrapper .main{width:990px;height:585px;background:#F7F3F7;margin:0 auto; }
.mainbot{height:16px; max-width:1080px; min-width:1010px;font-size:0;
		background:url(../images/main_bot_bg.png) no-repeat center 0; margin:0 auto;}
/*定义列表样式*/
.daohanglist{
	width:210px; height:560px;/*定义宽高*/	
	float:left; text-align:center;
}
.daohanglist ul{border:#83b712 2px solid;  /*定义边框*/
				margin-top:10px; margin-left:10px; /*定义上左外补白*/
				padding-top:10px; /*定义顶部内补白*/}	
.daohanglist ul li{height:42px;line-height:42px;padding:0 0 0 13px; background:#f9ffdd url(../images/uli.png) no-repeat; position:relative;}
.daohanglist ul li:hover{background:url(../images/hover.png) no-repeat; color:#FFFFFF;}
.daohanglist a:link{text-decoration:underline; color:#669900; font-size:20px; margin-left:10px;}
.content {width:770px;height:560px;/*定义宽高*/ 
		  float:left;  /*左浮动*/
		  margin:5px auto; /*定义外补白*/
		  padding-left:6px;
		  text-align:center;
	    }
#hotcon{
	      width:750px;height:200px;/*定义宽高*/
		  border:#83b712 1px solid;  /*定义边框*/
		  background-color:#FFFFFF;
		  margin:10px auto; /*定义外补白*/
		}
.hotsingle{ width:180px; height:140px; margin-left:5px; position:relative; float:left; padding-top:2px;}
.hotsingle:hover{border:#E7FBBD 2px solid;  /*定义边框*/}
.hotsingle img{ float:left; margin:2px auto;}
.hotsingle p{ margin:10px auto; font-size:12px; text-align:left;}
.hotsingle .price{ color:#FF0000;}
.cont
{
	      width:360px;height:320px;/*定义宽高*/
		  border:#83b712 1px solid;  /*定义边框*/
		  background-color:#FFFFFF;
		  margin:5px 10px; /*定义外补白*/
		  float:left;		  
}
.cont ul li{text-align:left; margin:10px auto;}
.sjlist{ margin:10px auto;}
.sjlist img:hover{ border:1px #FF00CC solid; /*取消图片边框显示*/}
.nav{
	background-image:url(../images/nav.gif); background-repeat:repeat-x;
	height:30px; font-size:20px; padding-top:5px;
	
}
/*结束定义主体内容样式 */

/*定义脚注样式 */
.footer{ background:#fff url(../images/v5_repeat_x.png) repeat-x 0 -206px; padding:30px 0 0 0; clear:both;text-align:center;}
.footerBox{width:970px; margin:0 auto;color:#999999; }
.footer .footerbot{height:41px; margin-top:10px;}
/*结束定义脚注样式 */